img{
    height: 25%;
    width: 25%;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
     display: flex;
    align-items: center;
    justify-content: center;
}